# IDE
.idea/
.vscode/

# Python / Django
backend/venv/
backend/.venv/
**/__pycache__/
*.pyc
.env
backend/db.sqlite3
backend/media/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/